/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Fixed Screen */
.fixed-screen {
  height: 100vh;
  max-width: 100%;
}

/* Container */
.container-fluid {
  height: 100vh;
  padding: 0;
}
/* CSS Styles for Keys */
.keys {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #fff;
  background: linear-gradient(135deg, #d79cbd, #d6b1c6, #5f394e); /* Update gradient background */
  border: 2px solid  #38202c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 10rem;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.keys:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Hover direction animations */
#moveLeft:hover {
  transform: translateX(-10px);
}

#moveRight:hover {
  transform: translateX(10px);
}

#moveUp:hover {
  transform: translateY(-10px);
}

#moveDown:hover {
  transform: translateY(10px);
}

#rotateLeft:hover {
  transform: rotate(45deg);
}

#rotateRight:hover {
  transform: rotate(-45deg);
}

/* Left Sidebar */
.left-sidebar {
  background: linear-gradient(120deg, #f4efe1,  #c6e1f6); /* Update gradient background */
  display: flex;
  flex-direction: column;
  box-shadow: -2px 5px 12px rgba(0, 0, 0, 0.2);
}
.left-sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Left Sidebar Arrow Icon */
.arrow-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
  background-color: #d6d6d6; /* Change the background color to a light shade */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Search Bar HR */
.search-hr {
  margin-top: 20px;
  border: none;
  border-top: 1px solid #ccc; /* Use a lighter color for the horizontal rule */
}

/* Dropdown */
.dropdown {
  margin-top: 20px;
}

/* Dropdown Toggle */
.dropdown-toggle {
  width: 100%;
  background: linear-gradient(135deg, #d79cbd, #d6b1c6, #5f394e); /* Update gradient background */
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: none;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  margin-bottom: 12px;
  margin-top: -13px;
  position: relative;
  z-index: 1;
  border-radius: 13px;
}

/* Dropdown Toggle Hover */
.dropdown-toggle:hover {
  background: linear-gradient(135deg,  #5f394e, #e0abc8,  #c7aaba); /* Update gradient background */

  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Dropdown Menu */
.dropdown-menu {
  background-color: #fff; /* Use a light background color for the dropdown menu */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
}

/* Dropdown Item */
.dropdown-item {
  color: #333;
  transition: background-color 0.3s ease;
  padding: 8px;
}

/* Dropdown Item Hover */
.dropdown-item:hover {
  background-color: #f5f5f5; /* Use a lighter color on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Main Content */
.main-content {
  padding: 20px;
  background: linear-gradient(220deg, #f4d8dd, #f4efe1); /* Update gradient background */

  color: #333; /* Change the text color to a dark shade */
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px  5px 12px rgba(0, 0, 0, 0.2);

}

/* Main Content Reset Button */
.reset-btn,
.delete-btn {
  width: 170px;
  height: 40px;
  margin-right: 10px;
  background: linear-gradient(135deg, #d79cbd, #d6b1c6, #5f394e); /* Update gradient background */
  box-shadow: 0 -5px 9px rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: background-color 0.3s ease;
  border: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 13px;
}

/* Main Content Reset Button Hover */
.reset-btn:hover,
.delete-btn:hover {
  background-color: #ff4c94; /* Use a different color on hover */
}

/* Main Content Delete Button */
.delete-btn {
  background-color: #c0392b; /* Change this color to your preferred color */
}

/* Main Content Delete Button Hover */
.delete-btn:hover {
  background-color: #e74c3c; /* Update the color on hover */
}

/* Main Content HR */
.main-hr {
  margin-top: 20px;
  border: none;
  border-top: 6px solid #5f394e; /* Update the color of the horizontal rule */
  box-shadow: 0 -6px 9px rgba(0, 0, 0, 0.3);
}

/* Main Content Title */
.main-title {
  color:   #5f394e; /* Change this color to your preferred color */
  font-size: 24px;
  margin-top: 20px;
}

/* Scene Container */
.scene-container {
  margin-top: 20px;
  background: #f6f5f2; /* Update the background color to a light shade */
  box-shadow: 0 2px 4px blue;
  padding: 20px;
  flex-grow: 1;
}

/* Webgl Canvas */
.webgl {
  width: 100%;
  height: 100%;
}

/* Right Sidebar */
.right-sidebar {
  background: linear-gradient(135deg, #f4efe1, #c6e1f6); /* Update gradient background */
  box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.right-sidebar-container {
  display: flex;
  flex-direction: column;

}

/* Right Sidebar Heading */
.right-sidebar h1 {
  color:  #5f394e; /* Change this color to your preferred color */
  font-size: 24px;
  margin-bottom: 10px;
}

/* Right Sidebar HR */
.right-hr {
  margin-top: 10px;
  border: none;
  border-top: 1px solid #5f394e; /* Use a lighter color for the horizontal rule */
}


/* Right Sidebar Color Pickers */
.right-input-group input[type="color"] {
  appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  margin-right: 15px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgb(157, 157, 237);
  transition: box-shadow 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
  background: radial-gradient(circle,  #cd95b4, #cc98b5);
}

/* Right Sidebar Color Picker Hover */
.right-input-group input[type="color"]:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px) scale(1.05);
  background: radial-gradient(circle,  #cd95b4, #aa8298);
  
}

/* Right Sidebar Color Picker Active (when color selected) */
.right-input-group input[type="color"]:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(2px) scale(0.95);
}







/* Update the text design and hover effects */
.main-title {
  color: #5f394e;
  font-size: 24px;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  transition: text-shadow 0.3s ease;
}

/* Add hover effect for the main title */
.main-title:hover {
  text-shadow: 2px 2px 8px rgba(163, 155, 155, 0.3); /* Increase text shadow on hover */
}



/* Media Queries */
@media (max-width: 991px) {
  .left-sidebar,
  .main-content,
  .right-sidebar {
    margin-bottom: 20px;
  }
}






